<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imti.dao.MaterialsDao">

	<!-- 查询物资表中的所有信息用于展示 -->
	<select id="findAllMaterialsInfo" parameterType="Map" resultType="Recyclematerials">
		select
			rm.rm_id,
			rm.re_id,
			re.re_name,
			rm.mm_id,
			mm.mm_name,
			rm.rm_total,
			rm.rm_loss,
			rm.rm_delflag,
			rm.rm_state,
			rm.rm_createTime,
			rm.rm_opt_id,
			rm.rm_remark
		from
			t_recyclematerials rm
		inner join
			t_materialsmanage mm
		on
			rm.mm_id = mm.mm_id
		inner join
			t_recycle re
		on
			re.re_id = rm.re_id
		where
			rm.rm_delflag = 0
		<if test="searchByName!=null and searchByName!=''">
		and
			mm.mm_name like concat('%',#{searchByName},'%')
		</if>
		order by rm.rm_createTime desc
		limit #{pageBean.start},#{pageBean.rows}
	</select>
	
	<!-- 查询所有物资信息的数据总条数，用于分页 -->
	<select id="findAllMaterialsInfoCount" parameterType="Map" resultType="Integer">
		select
			count(re.rm_delflag)
		from
			t_recyclematerials re
		inner join
			t_materialsmanage mm
		on
			re.mm_id = mm.mm_id
		where
			re.rm_delflag = 0
		<if test="searchByName!=null and searchByName!=''">
		and
			mm.mm_name like concat('%',#{searchByName},'%')
		</if>
	</select>
	
	<!-- 删除回收站物资信息的sql语句 -->
	<update id="deleteMaterialsInfo" parameterType="Integer">
		update
			t_recyclematerials
		set
			rm_delflag = 1
		where
			rm_id = #{rm_id}
	</update>
	
	<!-- 保存新建的回收站信息的sql语句 -->
	<insert id="saveMaterialsInfo" parameterType="Recyclematerials">
		insert into
			t_recyclematerials(
				rm_id,
				re_id,
				mm_id,
				rm_total,
				rm_loss,
				rm_delflag,
				rm_state,
				rm_createTime,
				rm_opt_id,
				rm_remark
			) values(
				#{rm_id},
				#{re_id},
				#{mm_id},
				#{rm_total},
				#{rm_loss},
				#{rm_delflag},
				#{rm_state},
				#{rm_createTime},
				#{rm_opt_id},
				#{rm_remark}
			)
	</insert>
	
	<!-- 修改回收站物资信息的方法 -->
	<update id="updateMaterialsInfo" parameterType="Recyclematerials">
		update
			t_recyclematerials
		set
			re_id = #{re_id},
			mm_id = #{mm_id},
			rm_total = #{rm_total},
			rm_loss = #{rm_loss},
			rm_delflag = #{rm_delflag},
			rm_state = #{rm_state},
			rm_createTime = #{rm_createTime},
			rm_remark = #{rm_remark}
		where
			rm_id = #{rm_id}
	</update>
	
	<!-- 下拉框的信息展示 -->
	<select id="findAllNameRmId" resultType="Recyclematerials">
		select
			mm_id,
			mm_name
		from
			t_materialsmanage
		where
			mm_delflag = 0
	</select>
</mapper>