<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imti.dao.RecycleDao">
	<!-- 创建一个返回值类型的map -->
	<resultMap type="Recycle" id="resultRecycle">
		<id property="re_id" 				column="re_id"/>
		<result property="co_id" 			column="co_id"/>
		<result property="re_name" 			column="re_name"/>
		<result property="re_coordinate" 	column="re_coordinate"/>
		<result property="re_recycletime" 	column="re_recycletime"/>
		<result property="re_capacity" 		column="re_capacity"/>
		<result property="re_iconCls" 		column="re_iconCls"/>
		<result property="re_state" 		column="re_state"/>
		<result property="re_delflag" 		column="re_delflag"/>
		<result property="re_createTime" 	column="re_createTime"/>
		<result property="re_opt_id" 		column="re_opt_id"/>
		<result property="re_remark" 		column="re_remark"/>
		<collection property="materialsList" column="re_id" ofType="Recyclematerials" select="com.imti.dao.RecycleMaterialsDao.findRecycleMaterialsInfoByReId"></collection>
		<collection property="empList" 		column="re_id" ofType="Recycleemployeeinfo" select="com.imti.dao.RecycleEmployeeDao.findRecycleEmployeeInfoByReId"></collection>
	</resultMap>
	<!-- 查找所有回收站信息 -->
	<select id="findAllRecycle" parameterType="Map" resultMap="resultRecycle">
		select
			re_id,
			co_id,
			re_name,
			re_coordinate,
			re_recycletime,
			re_capacity,
			re_iconCls,
			re_state,
			re_delflag,
			re_createTime,
			re_opt_id,
			re_remark
		from
			t_recycle
		where
			re_delflag = 0
		<if test="r_recycleName != null and r_recycleName != ''">
		and
			re_name like concat('%',#{r_recycleName},'%')
		</if>
		order by re_createTime desc
		limit #{pageBean.start},#{pageBean.rows}
	</select>
	<!-- 查找所有回收站信息用于分页 -->
	<select id="findAllRecycleCount" parameterType="Map" resultType="Integer">
		select
			count(re_delflag)
		from
			t_recycle
		where
			re_delflag = 0
		<if test="r_recycleName != null and r_recycleName != ''">
		and
			re_name like concat('%',#{r_recycleName},'%')
		</if>
	</select>
	<!-- 添加新的回收站信息 -->
	<insert id="addRecycleInfo" parameterType="Recycle">
		insert into
			t_recycle(
				re_id,
				co_id,
				re_name,
				re_coordinate,
				re_recycletime,
				re_capacity,
				re_iconCls,
				re_state,
				re_delflag,
				re_createTime,
				re_opt_id,
				re_remark
			) values(
				#{re_id},
				#{co_id},
				#{re_name},
				#{re_coordinate},
				#{re_recycletime},
				#{re_capacity},
				#{re_iconCls},
				#{re_state},
				#{re_delflag},
				#{re_createTime},
				#{re_opt_id},
				#{re_remark}
			)
	</insert>
	
	<!-- 获取回收站主表最大Id值 -->
	<select id="getRecycleMaxId" resultType="Integer">
		select
			max(re_id)
		from
			t_recycle
	</select>
	
	<!-- 删除回收站主表的相关信息 -->
	<update id="deleteRecycleInfo" parameterType="Integer">
		update
			t_recycle
		set
			re_delflag = 1
		where
			re_id = #{re_id}
	</update>
	
	<!-- 回收站名字的查询，用于下拉列表的信息展示 -->
	<select id="findAllNameByRecycle" resultType="Recyclematerials">
		select
			re_id,
			re_name
		from
			t_recycle
		where
			re_delflag = 0
	</select>
	
	<!-- 修改回收站主保存按钮的sql语句 -->
	<update id="updateRecycleInfo" parameterType="Recycle">
		update
			t_recycle
		set
			re_name = #{re_name} ,
			re_coordinate = #{re_coordinate} ,
			re_recycletime = #{re_recycletime} ,
			re_capacity = #{re_capacity} ,
			re_iconCls = #{re_iconCls} ,
			re_remark = #{re_remark}
		where
			re_id = #{re_id}
	</update>
</mapper>