<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 日志的导入，可查看数据内容 -->
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<!-- 别名,包下的类名就是别名 -->
	<typeAliases>
		<package name="com.imti.model"/>
	</typeAliases>
</configuration>